VOLCENGINE_API_KEY=
VOLCENGINE_RESOURCE_ID=volc.seedasr.sauc.duration
VOLCENGINE_ASR_URL=wss://openspeech.bytedance.com/api/v3/sauc/bigmodel_async
AUDIO_DEVICE=2

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-flash
LUCKIN_MCP_TOKEN=
LUCKIN_MCP_URL=https://gwmcp.lkcoffee.com/order/user/mcp
